@use '../util' as *;

$desktop-menu-items-indent: 55;
$submenu-icon-distance: 28;

.header {
    --menu-width: 65vw;
    --submenu-arrow-icon-distance: 26%;
    --padding-top: #{rem(20)};
    --nav-bg-color: #fff;
    --sublist-transition:
        max-height 0.01s ease,
        opacity 0.5s ease,
        padding 0.5s ease,
        margin 0.5s ease;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    padding-top: var(--padding-top);
    padding-bottom: rem(20);
    user-select: none;

    @include breakpoint(medium) {
        flex-direction: column;
        position: relative;
    }

    @include breakpoint(large) {
        flex-direction: row;
        @include limit-max-width;
    }

    &__logo {
        font-size: rem(30);
        font-weight: 700;
        text-transform: lowercase;
        
        @include breakpoint(medium) {
            align-self: start;
        }

        @include breakpoint(large) {
            margin-right: rem($desktop-menu-items-indent);
        }

        a {
            @include reset-link;
            @include transition(filter);
            display: block;

            @include breakpoint(medium) {
                padding-top: rem(.12);
            }

            &:focus {
                outline-offset: rem(4);
                border-radius: rem(7);
            }
        }
    }

    &__user-menu {
        @include reset-list;

        @include breakpoint(medium) {
            position: absolute;
            top: var(--padding-top);
            right: rem($edges-indents);
        }
        @include breakpoint(large) {
            position: static;
        }
    }
}


.nav {
    position: absolute;
    z-index: 2;
    transform: translateX(var(--menu-width));
    min-height: 100vh;
    
    padding: rem(80) rem(25);
    width: var(--menu-width);
    top: 0;
    left: calc(100vw - var(--menu-width));
    background-color: var(--nav-bg-color);
    color: $medium-gray;
    
    @include breakpoint(medium) {
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        position: static;
        transform: none;
        min-height: auto;

        margin-top: rem(25);
        padding: 0;
        width: 100%;
    }

    @include breakpoint(large) {
        flex-direction: row;
        margin-top: 0;
    }
    
    &.opened {
        transform: translateX(0);

        @include breakpoint(medium) {
            transform: none;
        }
    }
    
    &__list {
        @include reset-list;

        @include breakpoint(medium) {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            max-width: rem(600);
        }
    }
    
    &__item {
        @include transition(color);
        margin-bottom: rem(20);
        position: relative;
        
        @include breakpoint(medium) {
            margin-bottom: 0;
        }

        @include breakpoint(large) {
            margin-right: rem($desktop-menu-items-indent);
        }

        &:hover,
        &:focus {
            color: $almost-black;
            outline-offset: rem(4);
        }

        a {
            @include reset-link;
            @include transition(color);

            &:hover,
            &:focus {
                color: $almost-black;
            }

            &:focus {
                outline: none;
                text-decoration: underline;
            }
        }
    }
    
    &__label {
        position: relative;
        user-select: none;
        cursor: pointer;

        @include breakpoint(medium) {
            --submenu-arrow-icon-distance: 12%;
        }

        // --------------- arrow icons ---------------
        &::before,
        &::after {
            @include transition(transform);
            content: "";
            background-color: $medium-gray;
            position: absolute;
            width: rem(8);
            height: rem(2);
            left:calc(100% + var(--submenu-arrow-icon-distance));
            top: rem(7);
        }

        &::before {
            transform: rotate(45deg);
        }
        
        &::after {
            transform: rotate(-45deg);
            left:calc(106.5% + var(--submenu-arrow-icon-distance));
        }

        &.opened::before {
            transform: rotate(-45deg);
        }

        &.opened::after {
            transform: rotate(45deg);
        }
        // -------------------------------------------
    }
    
    &__inner-list {
        @include reset-list;

        margin-left: rem(24);

        overflow: hidden;
        opacity: 0;
        max-height: 0;
        transition: var(--sublist-transition);

        @include breakpoint(medium) {
            position: absolute;
            top: 0;
            left: 0;
            margin-left: 0;

            background-color: #fff;
        }
        
        &.opened {
            margin-top: rem(35);
            margin-bottom: rem(35);

            opacity: 1;
            max-height: rem(2000);

            @include breakpoint(medium) {
                padding: rem(20);
                border-radius: rem(10);
                box-shadow: 0px 0px 46px 0px rgba(0, 0, 0, 0.25);
            }
        }
    }

    &__inner-item {
        text-transform: capitalize;
        white-space: nowrap;
    }
    &__inner-item:not(:last-child) {
        margin-bottom: rem(20);
    }

    // --------------- Links Icons ---------------
    &__inner-item--icon {
        margin-left: rem($submenu-icon-distance);

        a {
            position: relative;

            &::before {
                position: absolute;
                left: rem(-$submenu-icon-distance);
                bottom: rem(-2);
            }
        }
    }

    &__inner-item--icon:nth-child(1) a::before {
        content: url(../../img/icon-todo.svg);
    }

    &__inner-item--icon:nth-child(2) a::before {
        content: url(../../img/icon-calendar.svg);
    }

    &__inner-item--icon:nth-child(3) a::before {
        content: url(../../img/icon-reminders.svg);
    }

    &__inner-item--icon:nth-child(4) a::before {
        content: url(../../img/icon-planning.svg);
    }
    // -------------------------------------------
}


.user-menu {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: rem(30);

    @include breakpoint(medium) {
        flex-direction: row;
        padding-top: 0;
    }

    &__item {
        @include reset-list;

        a {
            @include reset-link;
        }

        // login
        &:nth-child(1) {
            margin-bottom: rem(25);

            @include breakpoint(medium) {
                margin-bottom: 0;
                margin-right: rem(40);
            }

            a {
                @include transition(color);

                &:hover,
                &:focus {
                    color: $almost-black;
                }

                &:focus {
                    outline: none;
                    text-decoration: underline;
                }
            }
        }

        // register
        &:nth-child(2) {
            width: 100%;
            
            a {
                @include button;

                @include breakpoint(medium) {
                    @include buttun-paddings;
                }

                &:hover {
                    @include button-hover;
                }
            }
        }
    }
}