// breakpoints in px (px => em)
$breakpoint-medium: 400; 
$breakpoint-large: 900;
$breakpoint-xlarge: 1440;

// main sizes
$body-min-size: 280;
$body-max-size: 1440;
$edges-indents: 16;

// transition rules
$trans-dur: 150ms;
$trans-tf: ease-in-out;
$transition-all: all $trans-dur $trans-tf;

// Colors
$almost-white: hsl(0, 0%, 98%);
$medium-gray: hsl(0, 0%, 41%);
$almost-black: hsl(0, 0%, 8%);