:root {
  --main-font: "Epilogue", sans-serif;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
  font-weight: 500;
  overflow-x: hidden;
}

p {
  margin: 0;
  padding: 0;
}

:root {
  --breakpoint-medium: 25em;
  --breakpoint-large: 56.25em;
  --breakpoint-xlarge: 90em;
}

.limiter {
  padding: 0 1rem;
  min-width: 17.5rem;
  margin: 0 auto;
}

@media (min-width: 25em) {
  .overlay {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.header {
  --menu-width: 65vw;
  --submenu-arrow-icon-distance: 26%;
  --padding-top: 1.25rem;
  --nav-bg-color: #fff;
  --sublist-transition:
      max-height 0.01s ease,
      opacity 0.5s ease,
      padding 0.5s ease,
      margin 0.5s ease;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--padding-top);
  padding-bottom: 1.25rem;
  user-select: none;
}
@media (min-width: 25em) {
  .header {
    flex-direction: column;
    position: relative;
  }
}
@media (min-width: 56.25em) {
  .header {
    flex-direction: row;
    max-width: 90rem;
    margin: 0 auto;
  }
}
.header__logo {
  font-size: 1.875rem;
  font-weight: 700;
  text-transform: lowercase;
}
@media (min-width: 25em) {
  .header__logo {
    align-self: start;
  }
}
@media (min-width: 56.25em) {
  .header__logo {
    margin-right: 3.4375rem;
  }
}
.header__logo a {
  color: inherit;
  text-decoration: none;
  transition: filter 150ms ease-in-out;
  display: block;
}
.header__logo a:hover {
  text-decoration: none;
}
.header__logo a:visited {
  color: inherit;
}
@media (min-width: 25em) {
  .header__logo a {
    padding-top: 0.0075rem;
  }
}
.header__logo a:focus {
  outline-offset: 0.25rem;
  border-radius: 0.4375rem;
}
.header__user-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}
@media (min-width: 25em) {
  .header__user-menu {
    position: absolute;
    top: var(--padding-top);
    right: 1rem;
  }
}
@media (min-width: 56.25em) {
  .header__user-menu {
    position: static;
  }
}

.nav {
  position: absolute;
  z-index: 2;
  transform: translateX(var(--menu-width));
  min-height: 100vh;
  padding: 5rem 1.5625rem;
  width: var(--menu-width);
  top: 0;
  left: calc(100vw - var(--menu-width));
  background-color: var(--nav-bg-color);
  color: hsl(0, 0%, 41%);
}
@media (min-width: 25em) {
  .nav {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: static;
    transform: none;
    min-height: auto;
    margin-top: 1.5625rem;
    padding: 0;
    width: 100%;
  }
}
@media (min-width: 56.25em) {
  .nav {
    flex-direction: row;
    margin-top: 0;
  }
}
.nav.opened {
  transform: translateX(0);
}
@media (min-width: 25em) {
  .nav.opened {
    transform: none;
  }
}
.nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
@media (min-width: 25em) {
  .nav__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 37.5rem;
  }
}
.nav__item {
  transition: color 150ms ease-in-out;
  margin-bottom: 1.25rem;
  position: relative;
}
@media (min-width: 25em) {
  .nav__item {
    margin-bottom: 0;
  }
}
@media (min-width: 56.25em) {
  .nav__item {
    margin-right: 3.4375rem;
  }
}
.nav__item:hover, .nav__item:focus {
  color: hsl(0, 0%, 8%);
  outline-offset: 0.25rem;
}
.nav__item a {
  color: inherit;
  text-decoration: none;
  transition: color 150ms ease-in-out;
}
.nav__item a:hover {
  text-decoration: none;
}
.nav__item a:visited {
  color: inherit;
}
.nav__item a:hover, .nav__item a:focus {
  color: hsl(0, 0%, 8%);
}
.nav__item a:focus {
  outline: none;
  text-decoration: underline;
}
.nav__label {
  position: relative;
  user-select: none;
  cursor: pointer;
}
@media (min-width: 25em) {
  .nav__label {
    --submenu-arrow-icon-distance: 12%;
  }
}
.nav__label::before, .nav__label::after {
  transition: transform 150ms ease-in-out;
  content: "";
  background-color: hsl(0, 0%, 41%);
  position: absolute;
  width: 0.5rem;
  height: 0.125rem;
  left: calc(100% + var(--submenu-arrow-icon-distance));
  top: 0.4375rem;
}
.nav__label::before {
  transform: rotate(45deg);
}
.nav__label::after {
  transform: rotate(-45deg);
  left: calc(106.5% + var(--submenu-arrow-icon-distance));
}
.nav__label.opened::before {
  transform: rotate(-45deg);
}
.nav__label.opened::after {
  transform: rotate(45deg);
}
.nav__inner-list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: 1.5rem;
  overflow: hidden;
  opacity: 0;
  max-height: 0;
  transition: var(--sublist-transition);
}
@media (min-width: 25em) {
  .nav__inner-list {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 0;
    background-color: #fff;
  }
}
.nav__inner-list.opened {
  margin-top: 2.1875rem;
  margin-bottom: 2.1875rem;
  opacity: 1;
  max-height: 125rem;
}
@media (min-width: 25em) {
  .nav__inner-list.opened {
    padding: 1.25rem;
    border-radius: 0.625rem;
    box-shadow: 0px 0px 46px 0px rgba(0, 0, 0, 0.25);
  }
}
.nav__inner-item {
  text-transform: capitalize;
  white-space: nowrap;
}
.nav__inner-item:not(:last-child) {
  margin-bottom: 1.25rem;
}
.nav__inner-item--icon {
  margin-left: 1.75rem;
}
.nav__inner-item--icon a {
  position: relative;
}
.nav__inner-item--icon a::before {
  position: absolute;
  left: -1.75rem;
  bottom: -0.125rem;
}
.nav__inner-item--icon:nth-child(1) a::before {
  content: url("../img/icon-todo.svg");
}
.nav__inner-item--icon:nth-child(2) a::before {
  content: url("../img/icon-calendar.svg");
}
.nav__inner-item--icon:nth-child(3) a::before {
  content: url("../img/icon-reminders.svg");
}
.nav__inner-item--icon:nth-child(4) a::before {
  content: url("../img/icon-planning.svg");
}

.user-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.875rem;
}
@media (min-width: 25em) {
  .user-menu {
    flex-direction: row;
    padding-top: 0;
  }
}
.user-menu__item {
  padding: 0;
  margin: 0;
  list-style: none;
}
.user-menu__item a {
  color: inherit;
  text-decoration: none;
}
.user-menu__item a:hover {
  text-decoration: none;
}
.user-menu__item a:visited {
  color: inherit;
}
.user-menu__item:nth-child(1) {
  margin-bottom: 1.5625rem;
}
@media (min-width: 25em) {
  .user-menu__item:nth-child(1) {
    margin-bottom: 0;
    margin-right: 2.5rem;
  }
}
.user-menu__item:nth-child(1) a {
  transition: color 150ms ease-in-out;
}
.user-menu__item:nth-child(1) a:hover, .user-menu__item:nth-child(1) a:focus {
  color: hsl(0, 0%, 8%);
}
.user-menu__item:nth-child(1) a:focus {
  outline: none;
  text-decoration: underline;
}
.user-menu__item:nth-child(2) {
  width: 100%;
}
.user-menu__item:nth-child(2) a {
  display: block;
  border: 0.125rem solid hsl(0, 0%, 41%);
  border-radius: 0.75rem;
  line-height: 2.3;
  text-align: center;
}
@media (min-width: 25em) {
  .user-menu__item:nth-child(2) a {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}
.user-menu__item:nth-child(2) a:hover {
  border-color: black;
  background-color: white;
  color: black;
}

#burger-button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: none;
  cursor: pointer;
  z-index: 3;
  position: relative;
  background: transparent;
  height: 1.25rem;
  width: 2rem;
}
@media (min-width: 25em) {
  #burger-button {
    display: none;
  }
}
#burger-button::before, #burger-button::after {
  background: hsl(0, 0%, 8%);
  backface-visibility: hidden;
  content: "";
  height: 0.1875rem;
  left: 0;
  transition: var(--trans-time);
  width: 2rem;
}
#burger-button::before {
  box-shadow: hsl(0, 0%, 8%) 0 0.578125rem 0 0;
  position: absolute;
  top: 0;
}
#burger-button::after {
  position: absolute;
  top: calc(100% - 2px);
}
#burger-button.opened::before {
  box-shadow: transparent 0 0 0 0;
  top: 50%;
  transform: rotate(225deg);
}
#burger-button.opened::after {
  top: 50%;
  transform: rotate(315deg);
}

.main {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 1.875rem;
}
@media (min-width: 25em) {
  .main {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media (min-width: 56.25em) {
  .main {
    flex-direction: row;
    justify-content: center;
    gap: 8%;
    max-width: 90rem;
    margin: 0 auto;
  }
}
.main__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.875rem;
  margin-top: 3.125rem;
}
@media (min-width: 56.25em) {
  .main__info {
    align-items: start;
    width: 52%;
    margin: 0;
    padding: 0;
    padding-top: 9.375rem;
  }
}
.main__title {
  margin: 0;
}
@media (min-width: 56.25em) {
  .main__title {
    font-size: 4rem;
  }
}
.main__slogan {
  text-align: center;
  line-height: 1.6;
  color: hsl(0, 0%, 41%);
}
@media (min-width: 56.25em) {
  .main__slogan {
    text-align: left;
  }
}
.main__button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: none;
  cursor: pointer;
  display: block;
  border: 0.125rem solid hsl(0, 0%, 41%);
  border-radius: 0.75rem;
  line-height: 2.3;
  text-align: center;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  transition: color 150ms ease-in-out;
  color: white;
  background-color: black;
  border-color: black;
  font-weight: 700;
}
.main__button:hover {
  border-color: black;
  background-color: white;
  color: black;
}
.main__button:focus {
  outline: 0.125rem solid hsl(0, 0%, 41%);
}
.main__graphics {
  --portion: 7.5rem;
  display: grid;
  grid-template-columns: repeat(2, 0.5fr) repeat(2, 1fr) repeat(2, 0.5fr);
  grid-template-rows: repeat(2, 1fr) repeat(2, 0.5fr);
  min-width: 17.5rem;
}
@media (min-width: 56.25em) {
  .main__graphics {
    grid-template-columns: repeat(2, 0.5fr) repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr) repeat(4, 0.5fr);
    align-self: center;
    width: calc(var(--portion) * 3);
    height: calc(var(--portion) * 4);
  }
}
.main__photo {
  grid-column: 3/5;
  grid-row: 1/3;
  z-index: 1;
  position: relative;
  top: 5%;
  width: 90%;
  left: 5%;
}
@media (min-width: 56.25em) {
  .main__photo {
    grid-row: 2/4;
    top: 7%;
  }
}
.main__figure01 {
  grid-column: 3/5;
  grid-row: 1/3;
}
@media (min-width: 56.25em) {
  .main__figure01 {
    grid-row: 2/4;
  }
}
.main__figure02 {
  grid-column: 1/3;
  grid-row: 1/2;
}
.main__figure03 {
  grid-column: 1/3;
  grid-row: 2/3;
}
.main__figure03--changed {
  transform: translateY(-101%);
}
.main__figure04 {
  grid-column: 1/3;
  grid-row: 3/5;
}
@media (min-width: 56.25em) {
  .main__figure04 {
    grid-row: 5/7;
  }
}
.main__figure04--changed {
  transform: scale(-1, -1);
}
.main__figure05 {
  z-index: 1;
  grid-column: 2/3;
  grid-row: 4/5;
}
@media (min-width: 56.25em) {
  .main__figure05 {
    grid-row: 6/7;
  }
}
.main__figure05--changed {
  transform: translate(-100%, -100%);
}
.main__figure06 {
  grid-column: 3/5;
  grid-row: 3/5;
}
@media (min-width: 56.25em) {
  .main__figure06 {
    grid-row: 5/7;
  }
}
.main__figure07 {
  grid-column: 3/5;
  grid-row: 3/5;
}
@media (min-width: 56.25em) {
  .main__figure07 {
    grid-row: 5/7;
  }
}
.main__figure08 {
  grid-column: 4/5;
  grid-row: 3/5;
}
@media (min-width: 56.25em) {
  .main__figure08 {
    grid-row: 5/7;
  }
}
.main__figure08--changed {
  transform: translateX(-100%);
}
.main__figure09 {
  grid-column: 5/6;
  grid-row: 4/5;
}
@media (min-width: 56.25em) {
  .main__figure09 {
    grid-column: 1/2;
    grid-row: 4/5;
  }
}
.main__figure09--changed {
  transform: translateX(50%);
}
.main__figure10 {
  z-index: 1;
  grid-column: 5/7;
  grid-row: 3/5;
}
@media (min-width: 56.25em) {
  .main__figure10 {
    grid-column: 1/3;
    grid-row: 3/5;
  }
}
.main__figure10--changed {
  transform: rotate(-45deg);
}
.main__figure11 {
  grid-column: 5/7;
  grid-row: 1/3;
}
@media (min-width: 56.25em) {
  .main__figure11 {
    grid-column: 4/5;
    grid-row: 1/3;
    transform: rotate(270deg) translate(50%, -25%);
  }
}
.main__figure11--changed {
  transform: scale(-1, 1);
}
@media (min-width: 56.25em) {
  .main__figure11--changed {
    transform: rotate(270deg) translate(50%, -25%) scale(-1, 1);
  }
}

.clients {
  width: 100%;
}
.clients__list {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 56.25em) {
  .clients__list {
    max-width: 37.5rem;
  }
}
.clients__item {
  position: relative;
  width: 20%;
  height: 10vw;
  max-height: 2.8125rem;
  max-width: 6.25rem;
}
.clients__item::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.clients__item:nth-child(1)::before {
  background-image: url("../../img/client-databiz.svg");
}
.clients__item:nth-child(2)::before {
  background-image: url("../../img/client-audiophile.svg");
}
.clients__item:nth-child(3)::before {
  background-image: url("../../img/client-meet.svg");
}
.clients__item:nth-child(4)::before {
  background-image: url("../../img/client-maker.svg");
}