@use '../util' as *;

.limiter {
    padding: 0 rem($edges-indents);
    // max-width: rem(1110);
    margin: 0 auto;
    // margin-bottom: rem(36);
    min-width: rem($body-min-size);

    // @include breakpoint(large) {
    //     padding: 0;
    // }
}

.visually-hidden {
    position: absolute;
    left:     -10000px;
    top:      auto;
    width:    1px;
    height:   1px;
    overflow: hidden;
}