@use '../util' as *;

.limiter {
    padding: 0 rem($edges-indents);
    min-width: rem($body-min-size);
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    left:     -10000px;
    top:      auto;
    width:    1px;
    height:   1px;
    overflow: hidden;
}